.text4 {
    color: white;
    margin: auto;
    font-size: 80px;
    @media screen and (max-width: 1200px) {
        font-size: 40px;
  }
}

.text-5 {
    margin-top: 100px;
    color: white;
}

.text-6 {
    margin: 10px 0 0 30px;
    color: white;
}

.hotels {
    color: white;
    position: absolute;
    top: 5px; left: 15px;
    z-index: 1;
    font-size: 40px;
    @media screen and (max-width: 1200px) {
        font-size: 20px;
  }
}

.pros {
    color: white;
    position: absolute;
    top: 90px; left: 25px;
    z-index: 1;
    font-size: 20px;
    @media screen and (max-width: 1200px) {
        font-size: 20px;
  } 
}

.price {
    color: white;
    position: absolute;
    bottom: 0px; right: 15px;
    z-index: 1;
    font-size: 80px;
    font-weight: 900;
    @media screen and (max-width: 1200px) {
        font-size: 20px;
  }
}

.from {
    color: white;
    position: absolute;
    bottom: 100px; right: 15px;
    z-index: 1;
    font-size: 20px;
    @media screen and (max-width: 1200px) {
        font-size: 20px;
  }
}

.line-Copy-3 {
    margin: 70px 0 0 0;
    width: 600px;
    height: 10px;
    border-radius: 6px;
    background-color: #ffffff;
  }