.background {
  width: 1300px;
  height: 1105px;
  margin: auto;
  background: url("../img/background.png"); }
  @media screen and (max-width: 1200px) {
    .background {
      background: lightblue;
      height: 500px; } }

.background-2 {
  width: 1300px;
  height: 453px;
  margin: auto;
  padding-top: 120px;
  background: url("../img/slide.png");
  text-align: center; }
  @media screen and (max-width: 1200px) {
    .background-2 {
      background: lightblue; } }

.background-3 {
  width: 1300px;
  height: 571px;
  margin: auto;
  padding-top: 120px;
  background: url("../img/plane.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex; }
  @media screen and (max-width: 1200px) {
    .background-3 {
      background: lightblue; } }

.pic1 {
  width: 400px;
  height: 440px;
  position: relative;
  cursor: pointer; }

.backdrop {
  width: 520px;
  height: 382px;
  position: relative;
  cursor: pointer; }

.pic2.backdrop {
  background-image: url("../img/image_2.png"); }

.rectangle1 {
  border-radius: 8px;
  border: solid 1px #979797;
  mix-blend-mode: multiply;
  background-image: linear-gradient(to bottom, #43cff3, #43cff3);
  width: 400px;
  height: 150px;
  position: absolute;
  bottom: 0px; }
  @media screen and (max-width: 1200px) {
    .rectangle1 {
      width: 200px;
      height: 220px;
      background-image: none;
      mix-blend-mode: unset; } }

.rectangle-2 {
  border-radius: 8px;
  border: solid 1px #979797;
  mix-blend-mode: multiply;
  background-image: linear-gradient(to bottom, #43cff3, #43cff3);
  width: 520px;
  height: 382px;
  position: absolute;
  bottom: 0px; }
  @media screen and (max-width: 1200px) {
    .rectangle-2 {
      width: 200px;
      height: 220px;
      background-image: none;
      mix-blend-mode: unset; } }
