.block-2 {
  display: flex; }

.block-3 {
  height: 500px;
  width: 1300px;
  margin: auto;
  background: white; }

.block-4 {
  height: 300px;
  width: 1300px;
  margin: auto;
  background: white; }

.block-5 {
  height: 650px;
  width: 1300px;
  margin: auto;
  background: white; }

.line {
  margin: 30px auto;
  width: 322px;
  height: 10px;
  border-radius: 6px;
  background-color: #43cff3; }

.text1 {
  text-align: center;
  font-size: 80px; }
  @media screen and (max-width: 1200px) {
    .text1 {
      font-size: 40px; } }

.text2 {
  text-align: center;
  font-size: 30px; }
  @media screen and (max-width: 1200px) {
    .text2 {
      font-size: 20px; } }

.text3 {
  color: white;
  position: absolute;
  bottom: 5px;
  left: 15px;
  z-index: 1;
  font-size: 40px; }
  @media screen and (max-width: 1200px) {
    .text3 {
      font-size: 20px; } }
