.content {
    width: 60vw;
    height: auto; 
}
.content-box {
    width: 100%;
    box-shadow: 0 .8vw 2.5vw 0 rgba(32, 33, 47, 0.08);
    display: flex;
    margin-bottom: 1.8vw;
    cursor: pointer;
}
.content-box:hover {
    box-shadow: 0 .8vw 2.5vw 0 rgba(32, 33, 47, 0.2);
}
.content-title{
    font-size: 1.5vw;
}
.content-box__img{
    width: 23.5vw;
    height: 20.5vw;
}
.content-box__text {
    width: 55%;
    margin-left: 1.8vw;
}
.content-box__science{
    font-size: 1.3vw;
}
.content-box__title {
    font-size: 2vw;
}
.content-box__paragraph{
    font-size: 1.2vw;
}
.content-box__line {
    opacity: 0.1;
    border: solid 1px #20212f;
}
.content-box__date {
    font-size: 1.1vw;
    display: flex;
    justify-content: space-between;
}
.content-button {
    width: 15vw;
    height: 7vh;
    color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .8vw 2.5vw 0 rgba(32, 33, 47, 0.2);
    background-color: #20212f;
    margin: 0 auto;
    user-select: none;
    cursor: pointer;
    margin-bottom: 20vh;
    font-size: 1.4vw;
  }
  .content-button:active{
      transform: scale(1.01);
  }

  
@media screen and (max-width:320px){
    .content {
    width: 100vw;
    }
    .content-title{
        font-size: 4vw;
    }
    .content-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-box__img{
        width: 90%;
        height: 60vw;
    }
    .content-box__text {
        width: 90%;
        margin-left: 1.8vw;
    }
    .content-box__science{
        font-size: 4vw;
    }
    .content-box__title {
        font-size: 5vw;
    }
    .content-box__paragraph{
        font-size: 4vw;
        text-align: justify;
    }
    .content-box__line {
        opacity: 0.1;
        border: solid 1px #20212f;
    }
    .content-box__date {
        font-size: 3.5vw;
    }
    .content-button {
        width: 45vw;
        margin: 5vh auto;
        font-size: 4vw;
      }
}